/* General Styles */
body {
  background-color: rgb(13, 37, 63)!important;
}

*:not(i) {
  color: rgb(245, 246, 247);
}

/* Navbar */
.active-tab {
  color: black;
  background-color: white;
  border-radius: 0.4rem;
}

.nav-link {
  color: white;
}


/* Movie Cards General Styles */
button {
  background-color: unset;
}

.tmdb-quickView {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.poster-card:hover .tmdb-quickView {
  opacity: 1;
}

.btn.btn-favorite {
  transition: background-color 0.2s ease-in-out;
}

.btn.btn-favorite:hover {
  background-color: rgb(216, 111, 129);
}

.poster-card .card-img-overlay {
background-color: rgba(32, 32, 70, 0.295);
}

  /* Movie cards carousel */
  .tmdb-arrows {
    z-index: 1;
    border: none;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  .tmdb-pop-carousel-container:hover .tmdb-arrows {
    opacity: 1;
  }
  
  .tmdb-arrows.prev {
    background-image: linear-gradient(to right, rgba(13, 37, 63, 0.959) 30%, rgba(13, 37, 63, 0.705), rgba(32, 32, 70, 0));
  }

  .tmdb-arrows.next {
    background-image: linear-gradient(to left, rgba(13, 37, 63, 0.959) 30%, rgba(13, 37, 63, 0.705), rgba(32, 32, 70, 0));
  }

  .slick-track {
    padding-bottom: 10px;
  }

  /* MEDIA QUERIES */
  @media (min-width: 992px) {
    /* Card  */
    .card {
      width: 17em;
      height: 26em;
      object-fit: cover;
    }

  }